@font-face {
    font-family: "Comfortaa";
    src:url("fontes/Comfortaa-Regular.ttf");
}

/* html *
{
  font-family: "Comfortaa";
} */

body
{
  /* background: linear-gradient(hsl(0, 0%, 100%), rgb(206, 206, 206)); */
  background-color: rgb(240, 240, 240);
}

/* input *
{
  font-family: "Comfortaa";
} */

/* .btn-group{
    padding: 10px;    
} */

.btn{
    margin-left: 5px;    
    margin-top: 5px;    
    margin-bottom: 5px;    
}

.card{
    /* padding-left: 50px;  */
    margin-top: 10px;
    /* padding-right: 50px; */
    margin-bottom: 10px;
}

.list-group-item {
  padding: 0px 20px
}
